<a href="https://colab.research.google.com/github/mubowo/DS-ML-Study-Group/blob/main/DSC_DS_ML_Week_2_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DSC DS/ML Week 2 Assessment

Deadline: 9pm GMT+1 31-01-2020

Scraping Brief
Website:  [All products | Books to Scrape - Sandbox](http://books.toscrape.com/)
Detail: Books to Scrape is a site built for the sole purpose of scraping practice. It contains a list of 1000 books.

Task: Create a scraper that crawls through the website and scrapes details about all 1000 books. For each book, collect the:
Name
Image URL
Price
Rating

These details are to be stored in a pandas dataframe.
Enjoy.

In [ ]:
# Import Libraries
import pandas as pd
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
import re

In [ ]:
# define the url
url = "http://books.toscrape.com/"

In [ ]:
# get the html from the page and assign it to the html variable
html = urlopen(url)

In [ ]:
# parse the html and assign it to the variable soup
soup = bs(html.read(), 'html.parser')

In [ ]:
# single item operation on get the text of the  name, image URL, price, rating
name = soup.find("h3").find("a").get("title")
image_url = soup.find("img", class_="thumbnail").get("src")
price = soup.find("p", class_="price_color").text
rating = soup.find("p", class_= "star-rating Three").get("class")[1]

print(name)
print(image_url)
print(price)
print(rating)

A Light in the Attic
media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg
£51.77
Three

In [ ]:
# converts to Pandas Dataframe
df1 = pd.DataFrame({
    "Name" : name,
    "Image URL" : image_url,
    "Price" : price,
    "Rating" : [rating]
})

# saving to csv file 
df1.to_csv("first_book_to_scrape.csv", index=False)

# preview the saved csv file
df1.head()

                   Name  ... Rating
0  A Light in the Attic  ...  Three

[1 rows x 4 columns]

In [ ]:
# single page operation on get the text of the  name, image URL, price, rating

names = []
image_urls = []
prices = []
ratings = []

for i in soup("li", class_="col-xs-6 col-sm-4 col-md-3 col-lg-3" ):
  name = i.find("h3").find("a").get("title")
  names.append(name)

  image_url = i.find("img", class_="thumbnail").get("src")
  image_urls.append(image_url)

  price = i.find("p", class_="price_color").text
  prices.append(price)

  rating = i.find("p", class_= re.compile("star-rating")).get("class")[1]
  ratings.append(rating)

# display the result
print(names)
print(image_urls)
print(prices)
print(ratings)

['A Light in the Attic', 'Tipping the Velvet', 'Soumission', 'Sharp Objects', 'Sapiens: A Brief History of Humankind', 'The Requiem Red', 'The Dirty Little Secrets of Getting Your Dream Job', 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 'The Black Maria', 'Starving Hearts (Triangular Trade Trilogy, #1)', "Shakespeare's Sonnets", 'Set Me Free', "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", 'Rip it Up and Start Again', 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', 'Olio', 'Mesaerion: The Best Science Fiction Stories 1800-1849', 'Libertarianism for Beginners', "It's Only the Himalayas"]
['media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg', 'media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg', 'media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg', 'media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg', 'media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg', 'media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg', 'media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg', 'media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg', 'media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg', 'media/cache/58/46/5846057e28022268153beff6d352b06c.jpg', 'media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg', 'media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg', 'media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg', 'media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg', 'media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg', 'media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg', 'media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg', 'media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg', 'media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg', 'media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']
['£51.77', '£53.74', '£50.10', '£47.82', '£54.23', '£22.65', '£33.34', '£17.93', '£22.60', '£52.15', '£13.99', '£20.66', '£17.46', '£52.29', '£35.02', '£57.25', '£23.88', '£37.59', '£51.33', '£45.17']
['Three', 'One', 'One', 'Four', 'Five', 'One', 'Four', 'Three', 'Four', 'One', 'Two', 'Four', 'Five', 'Five', 'Five', 'Three', 'One', 'One', 'Two', 'Two']

In [ ]:
# convert single page operation (spo) into pandas dataframe

df2 = pd.DataFrame({
    "Name" : names,
    "Image URL" : image_urls,
    "Price" : prices,
    "Rating" : ratings
})

# saving single page operation (spo) into CSV file
df2.to_csv("first_book_to_scrape_spo.csv", index=False)

# preview the single page operation csv file
df2.head()

                                    Name  ... Rating
0                   A Light in the Attic  ...  Three
1                     Tipping the Velvet  ...    One
2                             Soumission  ...    One
3                          Sharp Objects  ...   Four
4  Sapiens: A Brief History of Humankind  ...   Five

[5 rows x 4 columns]

## Creating all 50 pages of books.toscrape.com web

In [ ]:
# creating all url webpage
web_pages = []
for j in range(1,50):
  urls = "http://books.toscrape.com/catalogue/page-" + str(j) + ".html"
  web_pages.append(urls)

In [ ]:
# change the data extraction code to a for loop that will process the URLs one after the other and store all the data in a variable4

# set all variable
whole_names = []
whole_image_urls = []
whole_prices = []
whole_ratings = []

# loop through the web_pages and find the  <li> list-item elements containing the name, image-url, price & rating
for k in web_pages:
  html = urlopen(url)
  soup = bs(html.read(), 'html.parser')
  contents = soup("li", class_="col-xs-6 col-sm-4 col-md-3 col-lg-3" )

  # loop through the content of each web_page 
  for l in contents:
    name = l.find("h3").find("a").get("title")
    whole_names.append(name)

    image_url = l.find("img", class_="thumbnail").get("src")
    whole_image_urls.append(image_url)

    price = l.find("p", class_="price_color").text
    whole_prices.append(price)

    rating = l.find("p", class_= re.compile("star-rating")).get("class")[1]
    whole_ratings.append(rating)

In [ ]:
# saving web_pages scraping into Panda DataFrame
df_whole = pd.DataFrame({
    "Name" : whole_names,
    "Image URL" : whole_image_urls,
    "Price" : whole_prices,
    "Rating" : whole_ratings
})

df_whole.to_csv("whole_pages.csv", index=False)

df_whole.head()

                                    Name  ... Rating
0                   A Light in the Attic  ...  Three
1                     Tipping the Velvet  ...    One
2                             Soumission  ...    One
3                          Sharp Objects  ...   Four
4  Sapiens: A Brief History of Humankind  ...   Five

[5 rows x 4 columns]

In [ ]:
df_whole

                                                  Name  ... Rating
0                                 A Light in the Attic  ...  Three
1                                   Tipping the Velvet  ...    One
2                                           Soumission  ...    One
3                                        Sharp Objects  ...   Four
4                Sapiens: A Brief History of Humankind  ...   Five
..                                                 ...  ...    ...
975  Our Band Could Be Your Life: Scenes from the A...  ...  Three
976                                               Olio  ...    One
977  Mesaerion: The Best Science Fiction Stories 18...  ...    One
978                       Libertarianism for Beginners  ...    Two
979                            It's Only the Himalayas  ...    Two

[980 rows x 4 columns]